name: Build Wheel and Publish for Releases
on:
  push:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build_wheel_and_sdist:
    name: Build wheels
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install dependencies
        run: pip install hatch==1.9.1
      - name: Build wheel and sdist
        run: hatch build
      - uses: actions/upload-artifact@v3
        with:
          name: artifact
          path: ./dist

  pypi-publish:
    name: Upload release to PyPI
    needs: [build_wheel_and_sdist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    environment: release
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      - run: ls dist
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
